@font-face {
    font-family: yunfenglinqiao;
    src: url(https://gh-proxy.com/https://github.com/EQ767/eq767.github.io/blob/main/Music/M/%E4%BA%91%E5%B3%B0%E6%9E%97%E6%A1%A5%E4%BD%93.otf) format('opentype');
}

body {
    margin: 0;
    padding: 0;
    font-family: yunfenglinqiao, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    background-image: url('https://www.notion.so/images/page-cover/gradients_11.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.music-library {
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.music-item {
    width: 150px;
    margin: 15px;
    background-color: #e3e3e3;
    border-radius: 6px;
    transition: transform .2s ease;
}

.music-item:hover {
    transform: scale(1.05);
}

.music-cover img {
    width: 100%;
    height: auto;
    border-radius: 6px 6px 0 0;
}

.music-info {
    padding: 10px;
}

.music-info h2 {
    font-size: 1em;
    color: #555;
    margin: 0;
}

.music-info p {
    font-size: .8em;
    color: #777;
    margin: 5px 0 0;
}
